<!DOCTYPE html>
<html>
  <head>
    <title>Evaweb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if administrator_signed_in? %>
      <%= render 'layouts/admin_toolbar' %>
    <% end %>
    <div class="container mt-5">
      <%= render 'layouts/flashes' %>
      <%= yield %>
    </div>
  </body>
</html>
